@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html,
body {
  background-color: #faf6f1;
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.seashell {
  background-color: #faf6f1;
}

.ylw {
  background-color: #e1ff65;
}